body {
    background-color: #bcd4de;
}

.form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerForm {
    background-color: #fff;
    width: 60%; /* Aumentar el ancho del formulario */
    max-height: 120vh; /* Aumentar la altura del formulario */
    height: 60ch;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form h2 {
    margin-bottom: 20px;
}

.content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.inputBox {
    width: 45%;
    margin-bottom: 1ch;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 10ch

}

.content input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #c2c2c2;
    border-bottom-width: 2px;
    padding: 15px; /* Aumentar el padding de los input boxes */
    margin-bottom: 5ch;

}

.form input:focus {
    border-color: #1d555b;
}

.button {
    text-align: center;
}

.submitButton {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #1d555b;
    cursor: pointer;
}

.backButton {
    text-decoration: none;
    color: #1d555b;
}

.backButton:hover {
    text-decoration: underline;
}