<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVM Forms</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <h1>UVM Forms</h1>
        <div class="user">
        <p>¡Bienvenido, <%- user %>!</p><i class='bx bx-user-circle'></i>
        </div>
    </header>
    <main>
        <div class="buttons">
        <a href="/formularios/crear"><button id="createButton" class="createButton"><i class='bx bx-plus' id="plusIcon"></i>Crear formulario</button></a>
        <a href=""><button id="logoutButton" class="logoutButton"><i class='bx bx-log-out' id="logoutIcon"></i>Cerrar sesión</button></a>
        </div>
        <p class="formsText">Tus formularios</p>
        <div class="forms">

            <% if(formularios == '') { %>

                <h3>No tienes formularios registrados</h3>
            <% } else { %>

                <% for (i = 0; i < formularios.length; i++) { %>
                    <a class="cardForm" href="/formularios/<%= formularios[i]._id %>">
                        <p class="formTitle"><%= formularios[i].titulo %></p>
                        <p class="formDescription"><%= formularios[i].descripcion %></p>
                    </a>
                <% } %>

            <% } %>
        </div>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>